@model List<MVC1SelfReferencingEF.Models.Employee>

@{
    ViewBag.Title = "DisplayTree";
}

<h2>DisplayTree</h2>
@helper GetTreeView(List<MVC1SelfReferencingEF.Models.Employee> emps, int parentID)
{
foreach (var item in emps.Where(e => e.ManagerID.Equals(parentID)))
{
        <li>
            @{var submenu = emps.Where(e => e.ManagerID.Equals(item.EmployeeID)).Count();}

            @if (submenu > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }

            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }

            <span>@item.EmployeeName</span>

            @if (submenu > 0)
            {
                <ul>@Treeviewview.GetTreeView(emps, item.EmployeeID)</ul>
            }
        </li>
 }
}
<div style="border: solid 1px black; padding: 10px; background-color: blueviolet">
    @if (Model != null && Model.Count > 0)
    {
        
        <ul>
            @GetTreeView(Model, Model.FirstOrDefault().EmployeeID)
        </ul>
    }
</div>
